footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 45px;

}

footer div {
    width: 125px;
    display: flex;
    justify-content: space-evenly;

}
