header {
    width: 100%;
    max-width: 1400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    border-radius: 0px;
    margin: 0px auto 0px auto;
    border-bottom: 3px solid rgb(190, 186, 186);
}

header h1 {
    font-size: 38px;
}

#header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 460px;
}

#header-links a {
    text-decoration: none;
    height: 30px;
    border-radius: 0;
}

#header-links a:hover {
    border-bottom: 3px solid;
    font-weight: 600;
    border-color: rgb(42, 157, 143);
}