.main-sect {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    position: relative;
}

.chart {
    width: 700px;
    height: 370px;
    border: 1px solid rgb(190, 186, 186);
    align-items: center;
    align-content: center;
    box-shadow: 0 0.125rem 0.25rem rgb(19 31 51 / 10%);
}

#main-chart {
    margin: 10px;
}

.nav {
    height: 370px;
    width: 210px;
    align-items: center;
    border: 1px solid rgb(190, 186, 186);
    box-shadow: 0 0.125rem 0.25rem rgb(19 31 51 / 10%);
    position: relative;
}

.selector {
    list-style: none;
    align-items: center;
}

.coin-selector {
    padding-top: 5px;
}

.coin-selector p {
    padding-left: 7.5px;
    font-weight: 600;
}

.coin-selector input {
    height: 30px;
    width: 89%;
    border: 1px solid rgb(190, 186, 186);
    margin-left: 10px;
    padding-right: -15px;
    border-radius: 5px;
}

.coin-selector ul {
    padding:0px;
    
    /* margin-top: 50px; */
}

.coin-selector ul li {
    padding: 7.5px;
    
}

.selection {
    width: 100%;
    list-style: none;
    position: relative;
    height: 30px;
    border: 1px solid rgb(190, 186, 186);
}

.selected-coin:hover {
    background-color: rgb(136, 208, 187);
}

#select-data-type {
    border-radius: 5px;
    border: 1px solid rgb(190, 186, 186);
    height: 30px;
    width: 93%;
    margin-left: 7.5px;
}



