body, header, div, ul, li, span, select, canvas {
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #202121;
    font-family: "inter", sans-serif;
}

img {
    height: 32px;
    width: 32px
}