// entry file for css
@import './styles/header.css';
@import './styles/mainSect.css';
@import './styles/widgets.css';
@import './styles/footer.css';
@import './styles/trendingSect.css';


body {
    width: 90%;
    margin: auto;
    
}

.dark-mode {
    background-color: rgb(34, 40, 49);
    color: white;
}